*, * ::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 4em);
    grid-template-rows: 2rem 7rem 2rem;
    gap: .5rem;
    justify-content: center;
    padding-top: 1rem;
}

.card {
    height: 145px;
    width: 90px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem ;
    background-color: white;
    font-size: 4rem;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;


}