root {
  --heightBackground: 100vh;

}



body {
  color: antiquewhite;
  text-align: center;
  
}
#indexBody {
  
  margin: 0;
  height: var(--heightBackground);
    /* background-image: url(./images/pexels-pavel-danilyuk-7594307.jpg); */
  background-image: url("https://images.pexels.com/photos/10368750/pexels-photo-10368750.jpeg");
  background-size: cover;
}

#blackJackBody {
  margin: 0;
  height: var(--heightBackground);
    background-image: url("https://images.pexels.com/photos/7594307/pexels-photo-7594307.jpeg"); 
  /* background-image: url("https://images.pexels.com/photos/10368750/pexels-photo-10368750.jpeg?"); */
  background-size: cover;
}



a:link {
  color: grey;
}

a:visited {
  color: grey;
}


