
*, * ::after, *::before {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}/* recommended by web dev simplified  */



#nav {
  background-color: #efefef;
  margin-top: 20 px;
  padding: 10px 0px 5px 0px;
}

a:visited {color: black}  
a:hover {color: darkgreen}  
a:active {color: whitesmoke}  


#indexBody {  
  margin: 0;
  color: #49060b;
   background-image: url("https://images.pexels.com/photos/10368750/pexels-photo-10368750.jpeg");
  /* casino sign photo Photo by Nicolas from Pexels */
  background-size: cover;
}

p,  {
  padding: 5px 10px 10px 10px;
  font-size: large;
  font-weight: bold;

}

#blackJackBody {
  margin: 0;
  color: #beb3b3;
  background-image: url("https://images.pexels.com/photos/7594307/pexels-photo-7594307.jpeg"); 
  /* Photo by Pavel Danilyuk from Pexels */
  background-size: cover;
  
}
#rouletteBody {
  color: black;
  margin: 0;
  
 background-image: url("https://images.pexels.com/photos/1445324/pexels-photo-1445324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
  /* Photo by Johannes Plenio from Pexels*/
 background-size: cover;  
}

.card {
  height: 145px;
  width: 90px;
  border: 1px solid black;
  flex: 1; 
   justify-content: center;
  align-items: center;
  border-radius: .5rem ;
  background-color: white;
  color: black;
  font-size: 4rem;
}

.players {
  border: 1px solid black;
  background-color: #187232;
  padding-top: 1rem; 
   display: none; 
   justify-content: space-around;
   width: 60%;
   max-width: 300px;
   min-width: 190px;
   margin-left: auto;
   margin-right: auto;
   
  
  
} 

.points {
  padding: auto;
  word-wrap: normal;
  justify-content: space-around;
}
